[package]
	description = "Crate used to generate pages from the Rust source code of Biome"
	edition     = "2024"
	name        = "codegen"
	publish     = false
	version     = "0.1.0"

[[bin]]
	name = "codegen"
	path = "codegen/src/main.rs"

[lib]
	name = "codegen"
	path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
	anyhow = "1.0.100"
	biome_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff", features = [
		"schema",
	] }
	biome_cli = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_configuration = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff", features = [
		"schema",
	] }
	biome_console = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_css_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_css_parser = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_css_semantic = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_css_syntax = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_deserialize = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_diagnostics = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_flags = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_formatter = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_fs = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_graphql_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_graphql_parser = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_graphql_syntax = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_html_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_html_parser = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_html_syntax = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_js_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_js_formatter = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_js_parser = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_js_syntax = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_json_analyze = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_json_factory = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_json_formatter = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_json_parser = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_json_syntax = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_module_graph = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_project_layout = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_rowan = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_ruledoc_utils = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_service = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_string_case = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_test_utils = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	biome_text_edit = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff" }
	bpaf = { version = "0.9.20", features = ["docgen"] }
	xtask_codegen = { git = "https://github.com/biomejs/biome.git", rev = "cae062ef4e5284d5d87aef9a2c68fa50955edfff", features = [
		"schema",
	] }
	# Needed to fix some weird dependency
	lock_api = "0.4.14"
	# If you update this library, be aware of the breaking changes
	camino         = "1.2.2"
	pulldown-cmark = "0.13.0"
	schemars       = "1.1.0"
	serde          = "1.0.228"
	serde_json     = "1.0.145"
	ureq           = "3.1.4"
