[package]
description = "Crate used to generate pages from the Rust source code of Biome"
edition = "2024"
name = "codegen"
publish = false
version = "0.1.0"

[[bin]]
name = "codegen"
path = "codegen/src/main.rs"

[lib]
name = "codegen"
path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "1.0.99"
biome_analyze = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d", features = [
	"schema",
] }
biome_cli = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_configuration = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d", features = [
	"schema",
] }
biome_console = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_css_analyze = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_css_parser = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_css_syntax = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_deserialize = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_diagnostics = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_flags = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_formatter = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_fs = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_graphql_analyze = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_graphql_parser = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_graphql_syntax = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_js_analyze = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_js_formatter = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_js_parser = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_js_syntax = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_module_graph = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_project_layout = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_json_analyze = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_json_factory = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_json_formatter = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_json_parser = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_json_syntax = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_rowan = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_ruledoc_utils = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_service = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_string_case = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
biome_text_edit = { git = "https://github.com/biomejs/biome.git", rev = "85d3a3a64eeb4fc4bb6fb7829f48cb19dfe28b9d" }
bpaf = { version = "0.9.20", features = ["docgen"] }
# Needed to fix some weird dependency
lock_api = "0.4.13"
# If you update this library, be aware of the breaking changes
camino = "1.2.0"
pulldown-cmark = "0.13.0"
schemars = "0.8.22"
serde = "1.0.223"
serde_json = "1.0.145"
ureq = "3.1.2"
