[package]
	description = "Crate used to generate pages from the Rust source code of Biome"
	edition     = "2024"
	name        = "codegen"
	publish     = false
	version     = "0.1.0"

[[bin]]
	name = "codegen"
	path = "codegen/src/main.rs"

[lib]
	name = "codegen"
	path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "1.0.100"
biome_analyze = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec", features = [
	"schema",
] }
biome_cli = { git = "https://github.com/biomejs/biome.git", rev = "dc1217cd4b4c4d06bb84cfdfd34e1068d41bb063" }
biome_configuration = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec", features = [
	"schema",
] }
biome_console = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_css_analyze = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_css_parser = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_css_syntax = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_deserialize = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_diagnostics = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_flags = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_formatter = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_fs = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_graphql_analyze = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_graphql_parser = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_graphql_syntax = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_js_analyze = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_js_formatter = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_js_parser = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_js_syntax = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_json_analyze = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_json_factory = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_json_formatter = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_json_parser = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_json_syntax = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_module_graph = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_project_layout = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_rowan = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_ruledoc_utils = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_service = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_string_case = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_test_utils = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
biome_text_edit = { git = "https://github.com/biomejs/biome.git", rev = "c09e45c8670c9be0305f76cd4e443a4760daedec" }
bpaf = { version = "0.9.20", features = ["docgen"] }
# Needed to fix some weird dependency
lock_api = "0.4.14"
# If you update this library, be aware of the breaking changes
camino = "1.2.1"
pulldown-cmark = "0.13.0"
schemars = "0.8.22"
serde = "1.0.228"
serde_json = "1.0.145"
ureq = "3.1.2"
