[package]
	description = "Crate used to generate pages from the Rust source code of Biome"
	edition     = "2021"
	name        = "codegen"
	publish     = false
	version     = "0.1.0"

[[bin]]
	name = "codegen"
	path = "codegen/src/main.rs"

[lib]
	name = "codegen"
	path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
	anyhow               = "1.0.86"
	biome_analyze        = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_cli            = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_configuration  = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_console        = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_css_analyze    = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_css_parser     = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_css_syntax     = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_diagnostics    = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_js_analyze     = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_js_formatter   = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_js_parser      = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_js_syntax      = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_json_analyze   = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_json_formatter = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_json_parser    = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_json_syntax    = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_rowan          = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_service        = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	biome_string_case    = { git = "https://github.com/biomejs/biome.git", rev = "48387f61f64611369eff1182e14da11e9598a868" }
	bpaf                 = { version = "0.9.12", features = ["docgen"] }
	# If you update this library, be aware of the breaking changes
	pulldown-cmark = "0.10.3"
	schemars       = "0.8.21"
	serde          = "1.0.204"
	serde_json     = "1.0.120"
