[package]
	description = "Crate used to generate pages from the Rust source code of Biome"
	edition     = "2024"
	name        = "codegen"
	publish     = false
	version     = "0.1.0"

[[bin]]
	name = "codegen"
	path = "codegen/src/main.rs"

[lib]
	name = "codegen"
	path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
	anyhow = "1.0.98"
	biome_analyze = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db", features = [
		"schema",
	] }
	biome_cli = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_configuration = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db", features = [
		"schema",
	] }
	biome_console = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_css_analyze = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_css_parser = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_css_syntax = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_deserialize = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_diagnostics = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_flags = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_formatter = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_fs = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_graphql_analyze = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_graphql_parser = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_graphql_syntax = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_js_analyze = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_js_formatter = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_js_parser = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_js_syntax = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_json_analyze = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_json_factory = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_json_formatter = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_json_parser = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_json_syntax = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_rowan = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_service = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_string_case = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	biome_text_edit = { git = "https://github.com/biomejs/biome.git", rev = "a772851cf6cdbfc3187ccb4faa582980a52080db" }
	bpaf = { version = "0.9.19", features = ["docgen"] }
	# If you update this library, be aware of the breaking changes
	pulldown-cmark = "0.13.0"
	schemars       = "0.8.22"
	serde          = "1.0.219"
	serde_json     = "1.0.140"
