[package]
	description = "Crate used to generate pages from the Rust source code of Biome"
	edition     = "2021"
	name        = "codegen"
	publish     = false
	version     = "0.1.0"

[[bin]]
	name = "codegen"
	path = "codegen/src/main.rs"

[lib]
	name = "codegen"
	path = "codegen/src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
	anyhow                = "1.0.93"
	biome_analyze         = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_cli             = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_configuration   = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_console         = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_css_analyze     = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_css_parser      = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_css_syntax      = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_diagnostics     = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_flags           = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_graphql_analyze = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_graphql_parser  = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_graphql_syntax  = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_js_analyze      = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_js_formatter    = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_js_parser       = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_js_syntax       = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_json_analyze    = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_json_formatter  = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_json_parser     = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_json_syntax     = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_rowan           = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_service         = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_string_case     = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	biome_text_edit       = { git = "https://github.com/biomejs/biome.git", rev = "6c63919b8367fc0c9149843bcd4ed444ebb5ab0a" }
	bpaf                  = { version = "0.9.15", features = ["docgen"] }
	# If you update this library, be aware of the breaking changes
	pulldown-cmark = "0.10.3"
	schemars       = "0.8.21"
	serde          = "1.0.210"
	serde_json     = "1.0.132"
