[build]
publish = "dist/"
command = '''
      pnpm i --frozen-lockfile &&
      ([ -n "$(find ./biome/packages/@biomejs/wasm-web -maxdepth 1 -type f -name '*.wasm' -print -quit)" ] &&
      echo "Skip WASM build" ||
      (npm i -g wasm-pack && pnpm build:wasm-dev)) &&
      pnpm build:js
      '''

[[headers]]
for = "/assets/*"
[headers.values]
#  Multi-value headers are expressed with multi-line strings
cache-control = '''
      public,
      max-age=31536000000,
      immutable
      '''

[[headers]]
for = "/_astro/*"
[headers.values]
#  Multi-value headers are expressed with multi-line strings
cache-control = '''
      public,
      max-age=31536000000,
      immutable
      '''

# Temporarly disable plugin
#[[plugins]]
#package = "./scripts/netlify/plugins/wasm-cache"

[context.deploy-preview.environment]
SKIP_OG = "true"
