[build]
	command = "pnpm i --frozen-lockfile && pnpm build"
	publish = "dist/"

[[headers]]
	for = "/assets/*"
	[headers.values]
		#  Multi-value headers are expressed with multi-line strings
		cache-control = '''
			public,
			max-age=31536000000,
			immutable
			'''

[[headers]]
	for = "/_astro/*"
	[headers.values]
		#  Multi-value headers are expressed with multi-line strings
		cache-control = '''
			public,
			max-age=31536000000,
			immutable
			'''

[context.deploy-preview.environment]
	SKIP_OG = "true"

[[redirects]]
	from   = "/chat"
	status = 301
	to     = "https://discord.gg/BypW39g6Yc"
