<!-- this file is auto generated, use `cargo lintdoc` to update it -->
 <ul>
	<li><a href='/linter/rules/no-access-key'>noAccessKey</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-aria-hidden-on-focusable'>noAriaHiddenOnFocusable</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-aria-unsupported-elements'>noAriaUnsupportedElements</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-autofocus'>noAutofocus</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-blank-target'>noBlankTarget</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-distracting-elements'>noDistractingElements</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-header-scope'>noHeaderScope</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-interactive-element-to-noninteractive-role'>noInteractiveElementToNoninteractiveRole</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-label-without-control'>noLabelWithoutControl</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-noninteractive-element-to-interactive-role'>noNoninteractiveElementToInteractiveRole</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-noninteractive-tabindex'>noNoninteractiveTabindex</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-positive-tabindex'>noPositiveTabindex</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-redundant-alt'>noRedundantAlt</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-redundant-roles'>noRedundantRoles</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-svg-without-title'>noSvgWithoutTitle</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-alt-text'>useAltText</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-anchor-content'>useAnchorContent</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-aria-activedescendant-with-tabindex'>useAriaActivedescendantWithTabindex</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-aria-props-for-role'>useAriaPropsForRole</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-button-type'>useButtonType</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-focusable-interactive'>useFocusableInteractive</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-generic-font-names'>useGenericFontNames</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-heading-content'>useHeadingContent</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-html-lang'>useHtmlLang</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-iframe-title'>useIframeTitle</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-key-with-click-events'>useKeyWithClickEvents</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-key-with-mouse-events'>useKeyWithMouseEvents</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-media-caption'>useMediaCaption</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-semantic-elements'>useSemanticElements</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-anchor'>useValidAnchor</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-aria-props'>useValidAriaProps</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-aria-role'>useValidAriaRole</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-aria-values'>useValidAriaValues</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-lang'>useValidLang</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-banned-types'>noBannedTypes</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-empty-type-parameters'>noEmptyTypeParameters</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-extra-boolean-cast'>noExtraBooleanCast</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-for-each'>noForEach</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-multiple-spaces-in-regular-expression-literals'>noMultipleSpacesInRegularExpressionLiterals</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-static-only-class'>noStaticOnlyClass</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-this-in-static'>noThisInStatic</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-catch'>noUselessCatch</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-constructor'>noUselessConstructor</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-empty-export'>noUselessEmptyExport</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-fragments'>noUselessFragments</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-label'>noUselessLabel</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-lone-block-statements'>noUselessLoneBlockStatements</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-rename'>noUselessRename</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-switch-case'>noUselessSwitchCase</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-ternary'>noUselessTernary</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-this-alias'>noUselessThisAlias</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-useless-type-constraint'>noUselessTypeConstraint</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-with'>noWith</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-arrow-function'>useArrowFunction</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-flat-map'>useFlatMap</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-literal-keys'>useLiteralKeys</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-optional-chain'>useOptionalChain</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-regex-literals'>useRegexLiterals</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-simple-number-keys'>useSimpleNumberKeys</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-children-prop'>noChildrenProp</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-const-assign'>noConstAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-constant-condition'>noConstantCondition</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-constructor-return'>noConstructorReturn</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-empty-character-class-in-regex'>noEmptyCharacterClassInRegex</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-empty-pattern'>noEmptyPattern</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-flat-map-identity'>noFlatMapIdentity</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-global-object-calls'>noGlobalObjectCalls</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-inner-declarations'>noInnerDeclarations</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-builtin-instantiation'>noInvalidBuiltinInstantiation</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-constructor-super'>noInvalidConstructorSuper</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-direction-in-linear-gradient'>noInvalidDirectionInLinearGradient</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-grid-areas'>noInvalidGridAreas</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-position-at-import-rule'>noInvalidPositionAtImportRule</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-invalid-use-before-declaration'>noInvalidUseBeforeDeclaration</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-nonoctal-decimal-escape'>noNonoctalDecimalEscape</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-precision-loss'>noPrecisionLoss</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-render-return-value'>noRenderReturnValue</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-self-assign'>noSelfAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-setter-return'>noSetterReturn</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-string-case-mismatch'>noStringCaseMismatch</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-switch-declarations'>noSwitchDeclarations</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unknown-function'>noUnknownFunction</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unknown-media-feature-name'>noUnknownMediaFeatureName</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unknown-property'>noUnknownProperty</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unknown-unit'>noUnknownUnit</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unmatchable-anb-selector'>noUnmatchableAnbSelector</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unnecessary-continue'>noUnnecessaryContinue</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unreachable'>noUnreachable</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unreachable-super'>noUnreachableSuper</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unsafe-finally'>noUnsafeFinally</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unsafe-optional-chaining'>noUnsafeOptionalChaining</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unused-labels'>noUnusedLabels</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-void-elements-with-children'>noVoidElementsWithChildren</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-void-type-return'>noVoidTypeReturn</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-is-nan'>useIsNan</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-for-direction'>useValidForDirection</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-yield'>useYield</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-accumulating-spread'>noAccumulatingSpread</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-delete'>noDelete</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-dangerously-set-inner-html'>noDangerouslySetInnerHtml</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-dangerously-set-inner-html-with-children'>noDangerouslySetInnerHtmlWithChildren</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-global-eval'>noGlobalEval</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-approximative-numeric-constant'>noApproximativeNumericConstant</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-array-index-key'>noArrayIndexKey</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-assign-in-expressions'>noAssignInExpressions</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-async-promise-executor'>noAsyncPromiseExecutor</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-catch-assign'>noCatchAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-class-assign'>noClassAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-comment-text'>noCommentText</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-compare-neg-zero'>noCompareNegZero</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-confusing-labels'>noConfusingLabels</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-confusing-void-type'>noConfusingVoidType</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-const-enum'>noConstEnum</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-control-characters-in-regex'>noControlCharactersInRegex</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-debugger'>noDebugger</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-double-equals'>noDoubleEquals</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-at-import-rules'>noDuplicateAtImportRules</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-case'>noDuplicateCase</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-class-members'>noDuplicateClassMembers</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-font-names'>noDuplicateFontNames</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-jsx-props'>noDuplicateJsxProps</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-object-keys'>noDuplicateObjectKeys</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-object-keys'>noDuplicateObjectKeys</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-parameters'>noDuplicateParameters</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-duplicate-selectors-keyframe-block'>noDuplicateSelectorsKeyframeBlock</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-empty-block'>noEmptyBlock</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-empty-interface'>noEmptyInterface</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-explicit-any'>noExplicitAny</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-extra-non-null-assertion'>noExtraNonNullAssertion</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-fallthrough-switch-clause'>noFallthroughSwitchClause</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-function-assign'>noFunctionAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-global-assign'>noGlobalAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-global-is-finite'>noGlobalIsFinite</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-global-is-nan'>noGlobalIsNan</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-implicit-any-let'>noImplicitAnyLet</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-import-assign'>noImportAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-important-in-keyframe'>noImportantInKeyframe</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-label-var'>noLabelVar</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-misleading-character-class'>noMisleadingCharacterClass</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-misleading-instantiator'>noMisleadingInstantiator</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-misrefactored-shorthand-assign'>noMisrefactoredShorthandAssign</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-prototype-builtins'>noPrototypeBuiltins</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-redeclare'>noRedeclare</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-redundant-use-strict'>noRedundantUseStrict</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-self-compare'>noSelfCompare</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-shadow-restricted-names'>noShadowRestrictedNames</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-shorthand-property-overrides'>noShorthandPropertyOverrides</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-sparse-array'>noSparseArray</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-suspicious-semicolon-in-jsx'>noSuspiciousSemicolonInJsx</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-then-property'>noThenProperty</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unsafe-declaration-merging'>noUnsafeDeclarationMerging</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/no-unsafe-negation'>noUnsafeNegation</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-default-switch-clause-last'>useDefaultSwitchClauseLast</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-getter-return'>useGetterReturn</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-is-array'>useIsArray</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-namespace-keyword'>useNamespaceKeyword</a><span> (Severity: Error)</span></li>
	<li><a href='/linter/rules/use-valid-typeof'>useValidTypeof</a><span> (Severity: Error)</span></li>

</ul>