@import "_variables";

.logo-creator {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	a {
		border: 1px solid var(--sl-border);
		background-color: var(--sl-color-black);
		text-decoration: none;
		border-radius: 12px;
	}

	img {
		width: 250px;
		height: 250px;
	}

	span {
		margin: calc(var(--unit) / 2) 0;
	}
}

ul.credits-people-list {
	text-align: center;
	margin: 32px 0 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;

	li {
		margin: 0 var(--unit) var(--unit);
		width: 220px;
		list-style: none;
		border: 1px solid var(--sl-border);
		background-color: var(--sl-color-black);
		text-decoration: none;
		border-radius: 12px;
		overflow: hidden;
	}
	&.contributors {
		li {
			width: 82px;
			margin: calc(var(--unit) / 4);

			img {
				width: 82px;
				height: 82px;
			}

			span {
				margin: calc(var(--unit) / 2) 0;
			}
		}
	}

	&.core-contributors {
		li {
			width: 200px;
			margin: calc(var(--unit) / 4);

			img {
				width: 200px;
				height: 200px;
			}

			span {
				margin: calc(var(--unit) / 2) 0;
			}
		}
	}

	&.maintainers {
		li {
			width: 120px;
			margin: calc(var(--unit) / 4);

			img {
				width: 120px;
				height: 120px;
			}

			span {
				margin: calc(var(--unit) / 2) 0;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		width: 220px;
		height: 220px;
		display: block;
	}

	span {
		display: block;
		margin: var(--unit) 0;
	}
}
