@import "_variables";

@define-mixin desktop-only {
	@media only screen and (min-width: calc(var(--mobile-breakpoint) + 1)) {
		@mixin-content;
	}
}

@define-mixin button {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 40px;
	padding: 8px 21px;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1rem;

	&:hover {
		background: #e9ecef;
	}

	&:active {
		background: #dadfe4;
	}

	:root[data-theme="dark"] & {
		background: rgba(255, 255, 255, 0.1);

		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}

		&:active {
			background: rgba(255, 255, 255, 0.3);
		}
	}

	@media (prefers-color-scheme: dark) {
		:root[data-theme="auto"] & {
			background: rgba(255, 255, 255, 0.1);

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}

			&:active {
				background: rgba(255, 255, 255, 0.3);
			}
		}
	}
}
