.sponsors {
	margin-top: 7rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.sponsors-row {
		margin: 0 auto;
	}
	@mixin small-screen-only {
		.sponsors-row {
			margin: 1rem auto;
		}
	}
}
