---
---

<footer>
  <p>Copyright (c) 2023-present Biome Developers and Contributors.</p>
</footer>

<style>
  footer {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid var(--sl-color-gray-5);
  }
  footer p {
    margin-top: 1rem;
  }
  footer picture {
    vertical-align: top;
  }
</style>
