---
---

<footer>
  <p>Copyright (c) 2023-present Biome Developers and Contributors.</p>
  <p>Sponsored by
    <a href="https://vercel.com/?utm_source=biome&utm_medium=readme" target="_blank">
      <picture>
        <source media="(prefers-color-scheme: light)" srcset="https://raw.githubusercontent.com/biomejs/resources/refs/heads/main/sponsors/vercel-dark.png" />
        <source media="(prefers-color-scheme: dark)" srcset="https://raw.githubusercontent.com/biomejs/resources/refs/heads/main/sponsors/vercel-light.png" />
        <img src="https://raw.githubusercontent.com/biomejs/resources/refs/heads/main/sponsors/vercel-light.png" width="120" alt="Vercel" />
      </picture>
    </a>
  </p>
</footer>

<style>
  footer {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid var(--sl-color-gray-5);
  }
  footer p {
    margin-top: 1rem;
  }
  footer picture {
    vertical-align: top;
  }
</style>
