---
import Default from "@astrojs/starlight/components/Footer.astro";
---

<Default {...Astro.props}>
	<slot />
</Default>

<div class="copyright">
	<p>Copyright (c) 2023-present Biome Developers and Contributors.</p>
</div>

<style>
  .copyright {
		display: flex;
    padding: 2rem;
    align-items: center;
		justify-content: center;
    flex-direction: column;
    border-top: 1px solid var(--sl-color-gray-5);
  }
	.copyright p {
		text-align: center;
    margin-top: 1rem;
  }
	.copyright picture {
    vertical-align: top;
  }
</style>
