---
import { Image } from "astro:assets";
import banner from "@/assets/JS_OSAward_2024_5_1.png";
import "@/styles/_award.css";
---

<div class="award">
    <Image src={banner} alt="JS OS Award 2024 - Productivity booster" width="500" />
</div>
