---
import { Image } from "astro:assets";
import banner from "@/assets/JS_OSAward_2024_5_1.svg";
import banner2026 from "@/assets/JS_OSAward_2026_5_1.svg";
import "@/styles/_award.css";
---

<div class="award">
    <Image src={banner} alt="JS OS Award 2024 - Productivity booster" width="500" />
    <Image src={banner2026} alt="JS OS Award 2026 - Productivity booster" width="500" />
</div>
