---
import GitHubAvatar from "@/components/GitHubAvatar.astro";
---

<ul class="credits-people-list core-contributors">
    <li>
       <GitHubAvatar handle="arendjr" />
    </li>
    <li>
       <GitHubAvatar handle="ematipico" />
    </li>
    <li>
       <GitHubAvatar handle="conaclos" />
    </li>
    <li>
       <GitHubAvatar handle="dyc3" />
    </li>
    <li>
       <GitHubAvatar handle="denbezrukov" />
    </li>
    <li>
       <GitHubAvatar handle="unvalley" />
    </li>
    <li>
       <GitHubAvatar handle="siketyan" />
    </li>
    <li>
       <GitHubAvatar handle="nhedger" />
    </li>
</ul>
