---
import GitHubAvatar from "@/components/GitHubAvatar.astro";
---

<ul class="credits-people-list maintainers">
    <li>
       <GitHubAvatar handle="DaniGuardiola" />
    </li>
    <li>
       <GitHubAvatar handle="minht11" />
    </li>
    <li>
       <GitHubAvatar handle="SuperchupuDev" />
    </li>
    <li>
       <GitHubAvatar handle="vohoanglong0107" />
    </li>
    <li>
       <GitHubAvatar handle="togami2864" />
    </li>
    <li>
       <GitHubAvatar handle="chansuke" />
    </li>
    <li>
       <GitHubAvatar handle="fireairforce" />
    </li>
</ul>
