---
// import { Image } from "astro:assets";
const { title } = Astro.props;
---
<h2 class="head">{title}</h2>
<div class="sponsors">
	<!-- <a class="sponsors-row" href="#" rel="nofollow" title="Sponsor name">
		<Image
			alt="Name of the sponsor"
			src="#"
			data-canonical-src="#"
			width="320"
			height="100"
		/>
	</a> -->
</div>
