name: Integrate

on:
  push:
    branches: [ main, next ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  code-quality:
    runs-on: depot-ubuntu-24.04-arm-4
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Setup Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0

      - name: Run Biome
        run: biome ci

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tsc
        run: pnpm tsc
