name: Integrate

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  code-quality:
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Biome
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
      - name: Run Biome
        run: biome ci

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"

      - name: Install dependencies
        run: npm install -g pnpm && pnpm install

      - name: Run tsc
        run: pnpm tsc
