name: Integrate

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  code-quality:
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - name: Run Biome
        run: biome ci

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".node-version"

      - name: Install dependencies
        run: npm install -g pnpm && pnpm install

      - name: Run tsc
        run: pnpm tsc
