name: Checks for Japanese documentation

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, next ]
    paths:
      - "src/content/docs/ja/**"

permissions:
  contents: read

jobs:
  ja-docs-check:
    name: Checks on JA docs
    runs-on: depot-ubuntu-24.04-arm
    timeout-minutes: 5
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install libraries
        run: pnpm install --frozen-lockfile

      - name: Run textlint
        run: pnpm textlint
