name: Run codegen
on:
  workflow_dispatch:
    inputs:
      kinds:
        description: Which kinds of codegen to run
        type: string
        required: true
        default: metadata, rules
      version:
        description: The version of Biome
        type: string
        required: true
        default: "0.0.0"

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  run-codegen:
    runs-on: depot-ubuntu-24.04-arm-16
    concurrency:
      group: "run-codegen-${{ github.event_name }}"
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Run codegen
        uses: ./.github/actions/run-codegen
        with:
          kinds: ${{ inputs.kinds }}
          version: ${{ inputs.version }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          branch: "chore/run-codegen-${{ github.event_name }}"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore(ci): run codegen ${{ inputs.kinds }}"
          commit-message: "chore(ci): run codegen ${{ inputs.kinds }}"
          body: |
            Run codegen ${{ inputs.kinds }}.
            `BIOME_VERSION=${{ inputs.version }}`
          labels: CI-Codegen

      - name: Auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
