# This workflow is triggered when a release is published. It then creates a PR which creates the new schema
name: Schema
on:
  workflow_dispatch:
    inputs:
      sha:
        description: Commit ID of biomejs/biome
        required: false
        type: string
        default: "_test"
      tag:
        description: The tag e.g. @biomejs/biome@2.0.0
        required: true
        type: string
        default: "@biomejs/biome@0.0.0"
      version:
        description: The version e.g. 2.0.0
        required: true
        type: string
        default: "0.0.0"

  repository_dispatch:
    types: [ biome-release-cli-event ]

permissions:
  actions: write
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  synchronize:
    runs-on: depot-ubuntu-24.04-arm-16
    env:
      COMMIT_ID: ${{ github.event.inputs.sha || github.event.client_payload.sha }}
      TAG: ${{ github.event.inputs.tag || github.event.client_payload.tag }}
      BIOME_VERSION: ${{ github.event.inputs.version || github.event.client_payload.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install pnpm
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"

      - name: Update revision
        if: ${{ env.COMMIT_ID != '_test' }}
        run: ./scripts/update-revision.sh '${{ env.COMMIT_ID }}'

      - name: Run codegen
        uses: ./.github/actions/run-codegen
        with:
          kinds: all
          version: ${{ env.BIOME_VERSION }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          branch: "chore/synchronize-${{ github.event_name }}"
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "release: synchronize to `${{ env.BIOME_VERSION }}`"
          commit-message: "release: synchronize to `${{ env.BIOME_VERSION }}`"
          body: "Synchronize to [`${{ env.BIOME_VERSION }}`](https://github.com/biomejs/biome/commit/${{ env.COMMIT_ID }})."
          labels: CI-Synchronize

      - name: Create PR and auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' && env.COMMIT_ID != '_test' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

