name: Update contributors

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2,5"

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    name: Update contributors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Setup node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: "*"
      - name: Update contributors
        run: node scripts/update-contributors.js --token=${{ secrets.GITHUB_TOKEN }}
      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e # v6.0.5
        with:
          branch: chore/update-contributors
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore(ci): update contributors"
          commit-message: "chore(ci): update contributors"
          body: ""
          labels: CI-Contributors
      - name: Auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
