name: Update contributors

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2,5"

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    name: Update contributors
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"

      - name: Update contributors
        run: node scripts/update-contributors.js --token=${{ secrets.GITHUB_TOKEN }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: chore/update-contributors
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore(ci): update contributors"
          commit-message: "chore(ci): update contributors"
          body: ""
          labels: CI-Contributors

      - name: Auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
