name: Update contributors

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2,5"

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    name: Update contributors
    runs-on: depot-ubuntu-24.04-arm-16
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".node-version"

      - name: Update contributors
        run: node scripts/update-contributors.js --token=${{ secrets.GITHUB_TOKEN }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          branch: chore/update-contributors
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore(ci): update contributors"
          commit-message: "chore(ci): update contributors"
          body: ""
          labels: CI-Contributors

      - name: Auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
