name: Update contributors

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2,5"

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  update-contributors:
    name: Update contributors
    runs-on: depot-ubuntu-24.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"

      - name: Update contributors
        run: node scripts/update-contributors.js --token=${{ secrets.GITHUB_TOKEN }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          branch: chore/update-contributors
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore(ci): update contributors"
          commit-message: "chore(ci): update contributors"
          body: ""
          labels: CI-Contributors

      - name: Auto merge
        if: ${{ steps.create-pull-request.outputs.pull-request-operation != 'closed' && steps.create-pull-request.outputs.pull-request-number != '' }}
        run: gh pr merge --squash --auto --delete-branch ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
